* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #505050;
    padding-top: 16px 0;
    color: #f1f1f1;
}

.container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #a0a0a0;
    color: #f1f1f1;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 16px;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

form {
    max-width: 360px;
}

form button {
    max-width: 120px;
}

.form-campo input {
    background-color: rgb(218, 218, 218);
    width: 100%;
    display: block;
    padding: 8px;
}
